<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyang.springboot.exam.dao.ArticleInfoMapper">

  <resultMap id="BaseResultMap" type="ArticleInfo">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
    <result column="article_img" jdbcType="VARCHAR" property="articleImg" />
    <result column="article_recom" jdbcType="VARCHAR" property="articleRecom" />
    <result column="article_time" jdbcType="TIMESTAMP" property="articleTime" />
    <result column="article_mark" jdbcType="VARCHAR" property="articleMark" />
  </resultMap>

  <sql id="Base_Column_List">
    article_id, user_id, category_id, article_title, article_content, article_img, article_recom,
    article_time, article_mark
  </sql>
</mapper>