<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyang.springboot.exam.dao.CategoryInfoMapper">

  <resultMap id="BaseResultMap" type="CategoryInfo">
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_alias" jdbcType="VARCHAR" property="categoryAlias" />
    <result column="category_desc" jdbcType="VARCHAR" property="categoryDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    category_id, category_name, category_alias, category_desc
  </sql>
</mapper>