<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuyang.springboot.exam.dao.MessageInfoMapper">

  <resultMap id="BaseResultMap" type="MessageInfo">
    <id column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="message_content" jdbcType="VARCHAR" property="messageContent" />
    <result column="message_time" jdbcType="TIMESTAMP" property="messageTime" />
    <result column="message_name" jdbcType="VARCHAR" property="messageName" />
    <result column="message_mark" jdbcType="VARCHAR" property="messageMark" />
  </resultMap>

  <sql id="Base_Column_List">
    message_id, message_content, message_time, message_name, message_mark
  </sql>

  <select id="getMessageInfo" parameterType="MessageInfo" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM MESSAGE_INFO
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="messageId != null">
        AND message_id = #{messageId}
      </if>
      <if test="messageContent != null">
        AND message_content = #{messageContent}
      </if>
      <if test="messageTime != null">
        AND message_time = #{messageTime}
      </if>
      <if test="messageName != null">
        AND message_name = #{messageName}
      </if>
      <if test="messageMark != null">
        AND message_mark = #{messageMark}
      </if>
    </trim>
  </select>

  <select id="getMessageInfoList" parameterType="MessageInfo" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM MESSAGE_INFO
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="messageContent != null">
        AND message_content = #{messageContent}
      </if>
      <if test="messageTime != null">
        AND message_time = #{messageTime}
      </if>
      <if test="messageName != null">
        AND message_name = #{messageName}
      </if>
      <if test="messageMark != null">
        AND message_mark = #{messageMark}
      </if>
    </trim>
  </select>

  <insert id="insertMessageInfo" parameterType="MessageInfo">
    INSERT INTO CATEGORY_INFO(
    MESSAGE_CONTENT,
    MESSAGE_TIME,
    MESSAGE_NAME,
    MESSAGE_MARK)
    VALUES(
   #{messageContent},
   #{messageTime},
   #{messageName},
   #{messageMark})
  </insert>

  <update id="updateMessageInfo" parameterType="MessageInfo">
    UPDATE CATEGORY_INFO SET
    MESSAGE_CONTENT = #{messageContent},
    MESSAGE_TIME = NOW(),
    MESSAGE_NAME = #{messageName},
    MESSAGE_MARK = #{messageMark}
    WHERE message_id = #{messageId}
  </update>

  <delete id="deleteMessageInfo" parameterType="MessageInfo">
    DELETE FROM CATEGORY_INFO
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="messageId != null">
        AND message_id = #{messageId}
      </if>
      <if test="messageContent != null">
        AND message_content = #{messageContent}
      </if>
      <if test="messageTime != null">
        AND message_time = #{messageTime}
      </if>
      <if test="messageName != null">
        AND message_name = #{messageName}
      </if>
      <if test="messageMark != null">
        AND message_mark = #{messageMark}
      </if>
    </trim>
  </delete>
</mapper>